<div class="meals">
    <div class="meals __title">
        <h1>
            <img src="assets/img/food.svg" alt="food">
            Your meals
        </h1>
        <a 
        class="btn__add"
        routerLink="/meals/new">
            <img src="assets/img/add-white.svg" alt="">
            New meal
        </a>
    </div>
    <div *ngIf="meals$ | async as meals; else loading">
        <div class="message" *ngIf="!meals.length">
            <img src="/assets/img/face.svg" alt="face">
            No meals, add a new meal to start
        </div>
        <app-list-item 
        *ngFor="let meal of meals"
        [item]="meal"
        (remove)="deleteItem($event)">
        </app-list-item>
    </div>
    <ng-template #loading>
        <div class="message">
            <img src="/assets/img/loading.svg" alt="loading">
            Fetching meals......
        </div>
    </ng-template>
</div>